//
// Dashboard

$dashboard: '.dashboard' !default;



#{$dashboard} {
  display: flex;
  width: calc(100vh - #{$navbar--height});
}

#{$dashboard}__container {
  @extend .container;
  margin: 0 auto;
  padding: 0;
}


#{$dashboard}__sidebar {
  flex: 1 1 20%;
  margin-right: gutter() * 2;
  padding: (gutter() * 2) 0;
}


#{$dashboard}__content {
  flex: 1 1 80%;
  padding: (gutter() * 2) 0;
}
