// General Layout

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (min-width: $screen-small-up) {
    width: 80%;
  }

  @media screen and (min-width: $screen-medium-up) {
    width: 70%;
  }

  &--small {
  	@media screen and (min-width: $screen-small-up) {
    	width: 40%;
  	}
  }
}


.footer {
	backgroud: #eee;
	text-align: center;
	font-size: 80%;
	margin-top: gutter();
	padding: gutter()/2 0;
}