
h1,
h2,
h3,
h4,
h5,
h6 {
	//line-height: 110%;
	margin: 0 auto;
	font-weight: $typography-fontweight-heading;
}

h1 { 
	font-size: $typography-fontsize-h1;
	//margin: ($typography-fontsize-h1 / 2) 0 ($typography-fontsize-h1 / 2.5) 0;
}

h2 { 
	font-size: $typography-fontsize-h2;
	//margin: ($typography-fontsize-h2 / 2) 0 ($typography-fontsize-h2 / 2.5) 0;
}

h3 { 
	font-size: $typography-fontsize-h3;
	//margin: ($typography-fontsize-h3 / 2) 0 ($typography-fontsize-h3 / 2.5) 0;
}

h4 { 
	font-size: $typography-fontsize-h4;
	//margin: ($typography-fontsize-h4 / 2) 0 ($typography-fontsize-h4 / 2.5) 0;
}

h5 { 
	font-size: $typography-fontsize-h5;
	//margin: ($typography-fontsize-h5 / 2) 0 ($typography-fontsize-h5 / 2.5) 0;
}

h6 { 
	font-size: $typography-fontsize-h6;
	//margin: ($typography-fontsize-h6 / 2) 0 ($typography-fontsize-h6 / 2.5) 0;
}