<h2>Welcome to your Dashboard</h2>
<p>
	You've successfully created your account now you have to fill your folder if you want to submit your candidation.
</p>
<p>
	&rarr; <a href="{{ path('folders_create') }}">Let me fill my Folder</a>
</p>