<div class="dashboard__container">

    <div class="dashboard">

        <nav class="dashboard__sidebar">
            <a href="#">Your Folder</a><br>
            <a href="#">Your Profile</a>
        </nav>

        <div class="dashboard__content">
            {% block dashboard_content %}{% endblock %}
        </div>

    </div>

</div>